/*
body{
	max-height: 600px;
	overflow: auto;
	min-width: 800px;
}


#box {
	float: none;
	display: grid;
	grid-template-areas: 'rec ins ins';
	margin-right: 2em;
	grid-template-columns: 325px min-content 1fr;	
}

*/
#page {
	margin: 10px;
}

.boxHolder {
	float: left;
}

#recipes {
	width: 325px;
	padding: 0px;
	margin: 0px 0px 0px 30px;
	max-height: 600px;
	overflow: auto;
}


#content {
	background: lightgray;
	font-size: 1.15em;
	padding: 0px 0px 0px 10px;
	margin: 0px 0px 0px 16px;
	max-height: 600px;
	overflow: auto;
}

#Ingredient {
	margin-bottom: -1.5em;
}

.selected{
	border-style: outset;
	background: lightgray; 
}

.RecipeItem{
	font-size: 1.25em;
	background: White;
	
}

@media only screen and (max-width: 600px) {
	h1 {
		font-size: 24px;
	}
	.cBox {
		width: 25px;
		height: 25px;
		margin-top: 0px;
	}
	img {
		display: inline;
		margin-top: 0px;
		margin-bottom: 15px;
		padding-top: 0px;
		width: 20px;
	}
	.boxHolder {
		float: left;
	}
	.RecipeRow {
		height: 50px;
	}
	#content {
		background: lightgray;
		font-size: 1.15em;
		padding: 0px 0px 0px 10px;
		margin: 0px 0px 0px 16px;
		max-height: 400px;
		overflow: auto;
	}
	#recipes {
		width: 325px;
		min-width: 170px;
		padding: 0px;
		margin: 0px 0px 0px 30px;
		max-height: 200px;
		overflow: auto;
	}
}
/*
#recipes {
	grid-area: rec;
	width: 325px;
	min-width: 170px;
	padding: 0px;
	margin: 0px 0px 0px 5%;
	max-height: 600px;
	overflow: auto;
}


.boxHolder {
	float: left;
	width: 35px;
	margin: 2px 0px 0px 5px;
}


#content {
	width: 100%;
	min-width: 475px;
	max-width: 700px;
	grid-area: ins;
	background: lightgray;
	font-size: 1.15em;
	padding: 0px 0px 0px 10px;
	margin: 0px 0px 0px 16px;
	max-height: 600px;
	overflow: auto;
}

#searchBar {
	float: left;
	padding: 5px;
	margin-left: 10px;
}

#sortbar {
	float: left;
	padding: 5px;
	margin-left: 10px;
}

#filterbar {
	padding: 5px;
	margin-left: 10px;
}

#favBar {
	padding: 5px;
	margin-left: 10px;
}
*/